*{
    margin: 0;
       
}
html{
    margin: 0;
    color-scheme: light dark;
    background-color: #f0f9fa;
    border-color: black;
    height: 100%;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}


#header{
    display: flex;
    background-color: #40b9c2;
}


h1{
    font-family: 'Nunito', sans-serif;
    font-size: 9vh;
    background-color: #40b9c2;
    padding-left: 2vh;
}

#proteinButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3vh;
    margin-right: 3vh;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: ;
    padding-left: 2vh;
    padding-right: 2vh;
}

#container{
    font-family: 'Nunito', sans-serif;
    display: flex;
    border: solid 3px black;
    flex-direction: column;
    background-color: white;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh; 
    flex-grow:1;
    
    
    
}

#footer{
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: #40b9c2;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-weight: bold;
    
}

.header{
    font-weight: bolder;
    padding-left: 0.5vh;
}

.headerCell{
    font-weight: bold;
}



